NEXT_PUBLIC_SUPABASE_URL=https://blfqujibkqjsoxvrkcmo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJsZnF1amlia3Fqc294dnJrY21vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1MjQ5MzcsImV4cCI6MjA5NDEwMDkzN30.eNQ8hs6Lw_dgUNPF2RrCEuUWIANSGIo7w72ZoOAzwdg

SUPABASE_SERVICE_ROLE_KEY=.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJsZnF1amlia3Fqc294dnJrY21vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODUyNDkzNywiZXhwIjoyMDk0MTAwOTM3fQ.BxKne_IpDNuCrDqaz0afRlFDotRra1CdhNJK9AZNCn8

# xAI Grok API (додай свій ключ пізніше)
XAI_API_KEY=sk-or-...
